langchain
langchain-community
langchain-core
langchain-groq
langchain-qdrant
qdrant-client
streamlit
python-dotenv
notebook
pypdf
pandas
sentence-transformers
networkx
beautifulsoup4
html2text
rank_bm25
langchain-huggingface
neo4j
langchain-neo4j
llama-parse
llama-index-core
nest_asyncio

reflex

reflex==0.8.26